{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier", "jest"],
  "rules": {
    "prettier/prettier": ["error"],
    "arrow-parens": "off",
    "object-curly-newline": "off",
    "no-mixed-operators": "off",
    "arrow-body-style": "off",
    "function-paren-newline": "off",
    "no-plusplus": "off",
    "space-before-function-paren": 0,
    "no-console": "error",
    "no-param-reassign": "off",
    "consistent-return": "off",
    "camelcase": "off",
    "func-names": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "no-continue": "off",
    "max-classes-per-file": "off",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "ForInStatement",
        "message": "for..in loops iterate over the entire prototype chain, which is virtually never what you want. Use Object.{keys,values,entries}, and iterate over the resulting array."
      },
      {
        "selector": "LabeledStatement",
        "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand."
      },
      {
        "selector": "WithStatement",
        "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize."
      }
    ],
    "require-await": "error"
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  }
}
